# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.idea/
.vscode/
*.iml

# Archivos compilados
*.class
*.jar

# Logs
*.log

# Directorios de construcción
target/
build/

# Archivos temporales
*.tmp
*.bak